.movies-table {
  width: 100%;
  border-collapse: separate;
  table-layout: fixed;
}

.Movie-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.movie-cell {
  text-align: center;
  padding: 1rem;
  vertical-align: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* omg fix text not centring correctly */

.movie-cover {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  display: block;
}

.movie-name {
  font-size: 1rem;
  color: #fff;
  margin-top: 0.25rem;
  text-align: center;
  width: 100%;
}

.pelicula-click {
  background-color: #44444400;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.genre-menu {
  background-color: #ff151500;
  border-top: 3px solid rgb(255, 255, 255);
  border-bottom: 3px solid rgb(255, 255, 255);
  gap: 1rem;
  margin-top: 1rem;
}

.genre-menu button {
  background-color: #ff151500;
  color: #fff;
  border-left: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
  padding-left: 15vh;
  padding-right: 15vh;
  border-style: outset;
  cursor: pointer;
  font-size: 1rem;
}